.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

.box-padding #boxed-text {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
